body{
	/*height:1200px; */
	font-family: 'Nunito', sans-serif;
	background:     linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
	
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}

#fixmenu{
	width: 100%;
	padding:20px 20px;

	top:0;
	moz-transition: all 1s ease-in-out;
	o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	webkit-transition: all 1s ease-in-out;
	position:fixed;
	overflow: auto;
	opacity:0;

}

#fixmenu.active {
	z-index:1;
	position:fixed;
	opacity:100;
	padding-top:10px;
	padding-bottom:10px;
}

#fixmenu ul {
	text-align: center;
}

#fixmenu li {
	display: inline;
	margin-left: 20px;
}

#fixmenu a {
	color: #fff;
}

#fixmenu a:hover {
	border-bottom: 3px solid #fff;
}

#role {
	position: fixed; /* or absolute */
  	top: 50%;
  	left: 50%;
}
#role li {
	display: inline;
}

.logo{
	width: 20%;
}